@page
@model WebApplication1.Pages.greetModel
@{
    Layout= null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport"content="width-device- width"/>
    <title>greet</title>
</head>
<body>
    @Model.Massage
</body>
</html>

